*{
	margin:0%;
	padding: 0%;
}
body{
     background-image:url("img/gym.jpg");
     background-size: 100%;
     color: white;
}	
nav{
   display: flex;
   justify-content: centre;
   justify-content: space-around;
   margin-top:31px;
}
ul{
  list-style:none;
  display: flex;
}  
ul li a{
      margin-inline:29px;
      font-size:25px;	  
}

nav h1{
	font-size:50px;
}
ul button{
    width:100px;
	height:34px;
	background-color:#FF1493;
	color: white;
	font-size:18px;
	border:none;
}
.tab{
    margin-left:7%;
    margin-top:120px;
}
.tab h1{
	font-size:100px;
}
.tab p{
     font-size: 20px;
	 margin-top: 20px;
}
.tab button{
    font-size: 25px;
	width:170px;
	height:44px;
	background-color:#FF1493;
	border:dot;
	color:white;
	margin-top:50px
}
.tab button:hover{
	border: 3px solid white;
	background-color:#FF1493;
	cursor:pointer;
}	
 ul li a:hover{
     border-radius:2px;
	border-bottom:5px solid orange;
	margin-top:3px;
	cursor:pointer;
 }
 nav span{
	 color: red;
 }
 